@charset "utf-8";

body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: #e0e0e0;
}

.container {
  width: 400px;
  margin: 30px auto;
}

textarea {
  width: 400px;
  box-sizing: border-box;
  height: 200px;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
}
